<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samebits.beacon.locator">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="net.dinglisch.android.tasker.PERMISSION_RUN_TASKS"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".BeaconLocatorApp"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainNavigationActivity"
            android:label="@string/title_activity_main_navigation"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.activity.BeaconActionActivity"
            android:label="@string/title_activity_beacon"
            />
        <receiver android:name=".receiver.BeaconRegionReceiver">
            <intent-filter>
                <action android:name="${applicationId}.action.NOTIFY_BEACON_ENTERS_REGION" />
                <action android:name="${applicationId}.action.NOTIFY_BEACON_LEAVES_REGION" />
                <action android:name="${applicationId}.action.NOTIFY_BEACON_NEAR_YOU_REGION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BeaconAlertReceiver">
            <intent-filter>
                <action android:name="${applicationId}.action.ALARM_NOTIFICATION_SHOW" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.LocationReceiver">
            <intent-filter>
                <action android:name="${applicationId}.action.GET_CURRENT_LOCATION"/>
            </intent-filter>
        </receiver>
    </application>



</manifest>
